<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/resource/start/start.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Start Login</title>
  <link rel="icon" type="image/x-icon" href="/resource/start/Logo.ico">
</head>
<body style="background: url(/resource/start/Airplane.jpg)">

<div class="jumbotron text-center" style="background: rgba(34, 131, 255, 0.58);">
  <h1>Головна сторінка Аеропорту Жуляни</h1>
  <p>Додаток відділу кадрів з управління персоналом</p>
</div>

<div class="container-logo">
  <div class="text-center">
    <!--        class="img-circle"-->
    <img  src="/resource/start/Logo.PNG" style="height: 180px">
  </div>
</div>

<div class="container-btnEnter">
  <div class="text-center" >
    <a href="/login" class="btn btn-primary btn-lg" role="button">Увійти до системи</a>
  </div>
</div>

<div class="container">
  <div class="row" >
    <div class="col-lg-4">
      <h3>Допомога</h3>
      <p>Побачили помилку або повільну роботу.</p>
      <p>Зв'яжіться з адміністратором за цим номером +380669057370</p>
    </div>
    <div class="col-lg-4">
      <h3>Безпека</h3>
      <p>Данні працівників у повній безпеці</p>
      <p>Розголошення конфеденційної інформації карається законом</p>
    </div>
    <div class="col-lg-4">
      <h3>Вхід до системи</h3>
      <p>Не можете увійти до системи</p>
      <p>Зв'яжіться з своїм керівником для перевірки доступу до системи
      </p>
    </div>
  </div>
</div>
</body>

<footer>
  <div class="div-footer">
  </div>
</footer>

</html>