body{
    background-color: #dff4ff;
    color: #000;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    background-color: #198754;
    color: #fff;
    border-color: white;
    border-width: 1px;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: auto;
}


.head-h {

    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #198754;
    color: #fff;
    border-color: white;
    border-width: 2px;
}
.div-dep-block {
    display: flex;
    width: 20%;
    height: 100%;
}

.div-form-block {
    padding: 10px;
    /*display: flex;*/
    justify-content: left;
    margin: 0;
    width: 80%;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 25px;
    margin-left: 0px;
    width: 100%;
}

.col-md {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 30%;
}
.btn {
    width: 80%;
    margin: 0 auto;
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;

}

table th, table td {
    border: 1px solid;
    padding: 1px;
}

